.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 50px;
    box-sizing: border-box;
    background-color: #428ccc;

    
}

.logo{
    color: #fb8e6d;
    font-size: 28px;
    font-weight: 600;
}
.logo:hover{
    color: #eb6e48;
}