.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 50px;
    box-sizing: border-box;
    background-color: #428ccc;

    height: 64px;
    align-items: center;
    
}

.logo{
    color: #fb8e6d;
    font-size: 28px;
    font-weight: 600;
    transition: color 250ms linear;
}
.logo:hover{
    color: white;
}

.user-menu{
    display: flex;
   align-items: center;
    font-size: 16px;
}
.logout-btn{
    height: 32px;
    width: 70px;
    margin-left: 15px;
    padding: 4px;
    font-size: 16px;

    border: none;
    border-radius: 5px;

    color: white;
    background-color: #fb8e6d;

    cursor: pointer;

    transition: background-color 250ms linear;
}

.logout-btn:hover{
    /* background-color: #165286; */
    background-color: #eb6e48;
}

.user-menu-info{
text-align: end;
}
.user-menu-nick{

    font-weight: 500;
    font-size: 18px;
}
.user-menu-email{
    font-size: 14px;
    opacity: 0.7;
}
.contacts-link{
    color: #fb8e6d;
    font-size: 24px;
    cursor: pointer;

    transition: color 250ms linear;
}
.contacts-link:hover{
    color: white;
}