.nav-links{
    display: flex;
    gap: 200px;
    
}
.nav-links a{
    color: black;
    cursor: pointer;
}
.nav-links a:focus{
    color: blue;
}
.navigation{
    margin-top: 100px;
    justify-self: center;
}


.main-link:hover{
    color: rgb(233, 119, 43);
}